<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h2>Welcome to the text analyzer</h2>
<form action='/analyze' method="get">
    <textarea name='text'style='width: 609px; height: 153px;'></textarea>
    <br>
    <input type="checkbox"name='removepunc'> Remove punctuations<br>
    <input type="checkbox"name='fullcaps'> UPPERCASE<br>
    <input type="checkbox"name='newlineremover'> newlineremover<br>
    <button type='submit'>analyze text</button>
</form>
</body>
</html>